#logo {
	margin-left: 5%;
	display: inline-block;
	float: left;
}

#connection-status {
	float: right;
	color: #FFF;
	padding: 20px;
	font-weight: bold;
}

#connection-status button {
	margin-left: 20px;
}

#connected {

}

.status-connected {
	color: #0cff00;
}

.status-disconnected {
	color: #ff0808;
}

#filter-wrapper{
    overflow:auto;
    border-right: 1px solid black;
    height:85%;
}

#console-wrapper {
    height:70%;
    overflow:auto;
    border-bottom: 1px solid black;
}

#console-wrapper *{
    font-size:11px !important; 
}

#input-wrapper {

}

.console-date-field{
    width:150px;
}

#input-field{
    width:100%;
}

.navbar-brand {
	padding: 22px 5px 0px 5px;
}

.navbar-nav > li > a {
    padding: 24px 10px;
    margin-left: 8px;
}