#logo {
	margin-left: 5%;
	display: inline-block;
	float: left;
}

#connection-status {
	float: right;
	color: #FFF;
	padding: 20px;
	font-weight: bold;
}

#connection-status button {
	margin-left: 20px;
}

#connected {

}

.status-connected {
	color: #0cff00;
}

.status-disconnected {
	color: #ff0808;
}

#slider-wrapper {
	margin-bottom: 35px;
}

.slider {
	margin-top: 20px;
	width: 100%;
}

.slider-value {

}

#image-list-wrapper{
    border-right: 1px solid black;
    height: 85%; 
}

#image-wrapper{
    text-align: center; 
    margin-top:2%;  
}

#detail-wrapper{
    margin-top: 20px; 
}

#canvas-container {
    height: 400px; 
    width: 500px; 
    border: 1px solid black;
    margin-left: 7%; 
}

.list-table{
    margin-bottom: 20px;     
}

.list-wrapper{
    overflow: scroll;
	height: 85%;
}

.navbar-brand {
	padding: 22px 5px 0px 5px;
}

.navbar-nav > li > a {
    padding: 24px 10px;
    margin-left: 8px;
}

#add-target-wrapper {
	margin-top: 30px;
}

#add-new-target {
    color: #FFF;
    background-color: #5CB85C;
    border-color: #4CAE4C;
}

.input-disabled {
	display: none;
}

.add-target-input {
	margin-top: 20px;
}

#add-new-target-confirm {
	margin-top: 20px;
    color: #FFF;
    background-color: #5CB85C;
    border-color: #4CAE4C;
}

#target-details div ul {
	list-style-type: none;
}

#target-details .ui-accordion .ui-accordion-content {
	padding: 1em 0;
}